.place__container {
    padding-right: 40px;
}

@media screen and (max-width: 1024px) {
    .place__container {
        padding-right: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place__container {
        padding-right: 28px;
    }
}

@media screen and (max-width: 320px) {
    .place__container {
        padding-right: 0;
    }
}