.place__image {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
    .place__image {
        width: 340px;
        padding: 0;
        margin-right: 28px;
    }
}

@media screen and (min-width: 1024px) {
    .place__image {
        width: 440px;
        margin-right: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .place__image {
        width: 460px;
        margin-right: 40px;
    }
}