.lead {
    width: 100%;
    margin: auto;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

@media screen and (min-width: 1024px) {
    .lead {
        width: 90.625%;
    }
}

@media screen and (min-width: 1280px) {
    .lead {
        width: 76.875%;
        margin-top: 56px;
    }
}