.cover__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 32px;
    width: 30.406%;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        width: 35.157%;
    }
}