.input[type="radio"] {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
}


.input[type="radio"] + .header__lang-link:disabled {
    text-decoration: underline;
}

.input[type="radio"] + .header__lang-link:checked {
    text-decoration: underline;
}


.input[type="radio"] + .header__lang-link:focus {
    text-decoration: underline;
}
