.lead__title {
  font-family: Inter;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  color: white;
  width: 73.171%;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    width: 77.587%;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    width: 93.75%;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    width: 90%;
    font-size: 40px;
    line-height: 110%;
  }
}