.lead__title {
  font-family: Inter, Arial, sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 110%;
  color: white;
  width: 90%;
  margin: auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .lead__title {
    width: 93.75%;
    font-size: 96px;
    line-height: 104%;
  }
}

@media screen and (min-width: 1024px) {
  .lead__title {
    width: 77.587%;
  }
}

@media screen and (min-width: 1280px) {
  .lead__title {
    width: 73.171%;
  }
}