.place__paragraph {
    margin: 0;
    color: white;
    padding-bottom: 26px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    width: 92%;
}