.intro__text {
    margin: 0;
    padding-top: 40px;
    width: 100%;
    color: white;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
}

@media screen and (min-width: 1024px) {
    .intro__text {
        width: 74.354%;
    }
}

@media screen and (min-width: 1280px) {
    .intro__text {
        width: 70.122%;
    }
}