.lead__caption {
    color: white;
    margin: 0;
    padding-top: 8px;
    font-family: Inter;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    width: 16.057%;
}

@media screen and (max-width: 1024px) {
    .lead__caption {
        width: 17.026%;
    }
}

@media screen and (max-width: 768px) {
    .lead__caption {
        width: 20.573%;
        font-size: 10px;
    }
}

@media screen and (max-width: 320px) {
    .lead__caption {
        width: 49.375%;
    }
}