.lead__caption {
    color: white;
    margin: 0;
    padding-top: 8px;
    font-family: Inter, Arial, sans-serif;
    font-weight: normal;
    font-size: 10px;
    line-height: 140%;
    text-transform: uppercase;
    letter-spacing: 2px;
}