.footer {
    width: 92.5%;
    margin: auto;
    margin-top: 92px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .footer {
        width: 90.625%;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        width: 93.75%;
        margin-top: 88px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        width: 53.125%;
        margin: 0;
        padding-top: 64px;
        padding-left: 16px;
        padding-bottom: 24px;
        flex-direction: column;
    }
}