.intro__title {
    margin: 0;
    width: 100%;
    color: white;
    font-family: Inter;
    font-weight: 900;
    font-style: normal;
    font-size: 32px;
    line-height: 109%;
}

@media screen and (min-width: 768px) {
    .intro__title {
        font-size: 54px;
        line-height: 107%;
    }
}

@media screen and (min-width: 1024px) {
    .intro__title {
        width: 74.354%;
    }
}

@media screen and (min-width: 1280px) {
    .intro__title {
        width: 70.122%;
    }
}